/* Food Search Page */

.pre-food {
    background-color: white;
}

/* Food Log Page */

.food-log-table-ul {
    list-style-type: none;
    padding-inline-start: 0%;
}

.food-log-table-header {
    border-bottom: 1px solid gray;
    font-size: x-large;
}

.food-log-table-dropdown {
    border-bottom: 1px solid gray;
    cursor: pointer;
    padding: 15px;
}

.food-log-table-dropdown:hover {
    color: black;
}

.food-log-table-dropdown-submenu {
    transition: opacity .8s ease-in-out;
    margin-top: 15px;
}

.food-log-table-dropdown-submenu ul {
    padding-inline-start: 5%;
    list-style-type: none;
    background-color: white;
    padding: 15px;
}

.badge {
    background-color: #008080;
}
